name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Android NDK
        run: |
          sudo apt update
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip -O ndk.zip
          unzip -qq ndk.zip -d $HOME/android-ndk

      - name: Configure Build
        run: |
          cmake -B build -S . \
            -DCMAKE_TOOLCHAIN_FILE=$HOME/android-ndk/android-ndk-r25b/build/cmake/android.toolchain.cmake \
            -DANDROID_ABI=arm64-v8a \
            -DANDROID_PLATFORM=android-29

      - name: Build
        run: |
          cmake --build build --config Release

      - name: Prepare Output Structure
        run: |
          mkdir -p output/build/usr/share/vulkan/icd.d
          mkdir -p output/build/usr/share/vulkan/implicit_layer.d
          mkdir -p output/build/usr/share/vulkan/explicit_layer.d

          cp build/libvulkan.xeno_wrapper.so output/build/
          cp usr/share/vulkan/icd.d/xeno_icd.json output/build/usr/share/vulkan/icd.d/
          cp usr/share/vulkan/implicit_layer.d/xeno_layer.json output/build/usr/share/vulkan/implicit_layer.d/
          cp usr/share/vulkan/explicit_layer.d/xeno_explicit.json output/build/usr/share/vulkan/explicit_layer.d/

      - name: Upload ZIP Artifact
        uses: actions/upload-artifact@v5
        with:
          name: xclipse_wrapper
          path: output
